@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* ---------------- layout ---------------- */
.container{
    width: 1110px;
    margin:0 auto;
}
.inner-pd1{
    padding:27px 0;
}
.inner-pd2{
    padding:54px 0;
}
.inner-pd3{
    padding:81px 0;
}
.inner-top-pd3{
    padding-top:81px;
}
hr{
    border:none;
    border-top: 1px solid #A8A8A8;
}
.no-bg {
    background: none !important;
}
.hidden{
    display: none;
}
/* ---------------- typography ---------------- */
body{
    /* font-family: 'Open Sans', sans-serif;
    font-size:16px;
    line-height: 27px; */

    font:16px/27px  'Open Sans', sans-serif;
    color: #2C2C2C;
}
.big-title{
    font-size: 55px;
    line-height: 54px;    
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: #3A99D8;
}
.content-title{
    font-weight: 300;
    font-size: 32px;      
    text-align: center; 
}
.content-desc{
    font-weight: 300;
    font-size: 18px;    
    text-align: center;
}
/* ---------------- button link ---------------- */
.link{
    text-decoration-line: underline;
    color: #9AC75B;
}
.btn{
    height: 39px;
    line-height: 39px;
    padding: 0 20px;
    border-radius:5px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #6E6E6E;
}
.btn.big{
    height: 57px;
    line-height: 57px;
}
/* ---------------- color ---------------- */
.lightgray-bg{
    background: #EBEBEB;
}
.highlight-bg{
    background: #9AC75B;
    color: #55762C;
}