@import url(reset.css);
@import url(common.css);


/* --------- MAIN PAGE ---------------- */
header .logo{
    float:left;
}
header nav{
    float:right;
    margin-top: 7px;
}
.logo a{
    width: 161px;
    height: 54px;
    background:url(../images/logo.png) no-repeat;
    display: block;
    text-indent:-9999em;
}
nav li{
    float:left;
    margin-right: 20px;    
}
nav li:last-child{
    margin-right: 0;
}
nav li:first-child{
    margin-right: 52px;
    line-height: 39px;
}
nav li:first-child a{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;    
    color: #2c2c2c;
}
nav li:first-child span{
    color: #a8a8a8;
    margin:0 5px;
}
.banner{
    text-align: center;
    background: #2D3E4F;
}
.banner h2{
    margin-bottom: 27px;
}
.banner h3{
    margin-bottom: 54px;
    color: #ffffff;
}
.banner p{
    margin-bottom: 54px;
}

.feature .item{
    width: 350px;
    float:left;
    margin-right: 30px;
    text-align: center;
}
.feature .item:last-child{
    margin-right: 0;
}
.feature .item .icon{
    width: 108px;
    height: 108px;
    border: 1px solid #439CCF;
    border-radius:50%;
    display: inline-block;
    box-sizing: border-box;
    line-height: 106px;
    font-size: 32px;
    color: #439CCF;
}
.feature .item h3{
    font-size: 24px;
    margin:27px 0;
}
.testimonial{
    position: relative;
}
.testimonial blockquote{
    width: 730px;
    margin:0 auto;
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #489DCD;
}
.testimonial blockquote cite{
    margin-top: 27px;
    font-size: 16px;
    line-height: 27px;
    display: block;
}
.controls span{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    font-size: 32px;
    color: #EBEBEB;
    cursor: pointer;
}
.controls span:hover{
    color: #2c2c2c;
}
.testimonial .prev{
    left: 0;
}
.testimonial .next{
    right: 0;
}
.cta{
    background: #292C2E;
    text-align: center;
    color: #fff;
}
.cta h2{
    margin-bottom: 27px;
}
.cta .content-desc{
    margin-bottom: 54px;
}
footer{
    text-align: center;
}
footer p:first-child{
    margin-bottom: 27px;
}
/* --------- SINGIN SIGNUP ---------------- */
.sign .logo{
    float:none;
    /* text-align: center; */
}
.sign .logo a{
    /* display: inline-block; */
    margin:0 auto;
}
.form{
    background: #2D3E4F;
    text-align: center;
}
.form h2{
    margin-bottom: 81px;
}
.form form{
    width: 350px;
    margin:0 auto 81px;
    position: relative;
}
.form form > p{
    background: #fff;
    border-radius: 3px;
    height: 54px;
    line-height: 54px;
    margin-bottom: 10px;
    text-align: left;    
    position: relative;
    overflow: hidden;
}

.form form > p:last-child{
    margin-bottom: 0;
}
.form form p input{
    width: 100%;
    height: 100%;
    display: block;   
    border:none;
    padding:0;
    padding-left:43px;
    box-sizing: border-box;
    color:#2c2c2c;
    font-style:italic;
    outline:none;
}
.form form p input:focus{
    box-shadow:inset 0 0 4px 4px rgba(255,0,0,.4);
}
.form form p input::placeholder{
    color:#a8a8a8;
}
.form form p i{
    position: absolute;
    left: 15px;
    top:50%;
    transform:translateY(-50%);
    color: #A8A8A8;
}
form input[type="submit"]{
    width: 100%;
    height: 54px;
    line-height: 54px;
    border-radius: 3px;
    background:none;
    border:1px solid #fff;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.cta.no-bg h2{
    color: #2C2C2C;
}
.cta.no-bg p{
    color: #A8A8A8;
}
.form form .message {
    top:0;
    left:calc(100% + 50px);
    position: absolute;
    background: #ffffff;
    width: 260px;
    padding: 20px 20px 12px;
    border-radius: 3px;
}
.form form .message:before{
    content:'';
    position: absolute;
    right:100%;
    top:33px;
    width: 0;
    height: 0;
    border-style:solid;
    border-width: 6px 10px 6px 0;
    border-color: transparent #fff transparent transparent;
}
.form form .message p{
    text-align: left;
    color: #F30000;
}
.signup_footer {
    text-align: center;
}
/* --------- ABOUT ---------------- */
.about .banner h2{
    margin-bottom: 0;
}
.qna h2, .portfolio h2{
    margin-bottom: 27px;
}
.qna > p, .portfolio > p{
    margin-bottom: 81px;
}
.qna-list {
    width: 750px;
    margin:0 auto;
}
.question{
    background: #ebebeb;
    height: 54px;
    line-height: 54px;
    padding:0 20px;
    position: relative;
    margin-bottom: 1px;
}
.question i{
    position: absolute;
    right:20px;
    top:50%;
    transform:translateY(calc(-50% - 4px));
    color: #a8a8a8;
    transition:0.3s;
}
.answer{
    padding: 20px 20px 60px;
    display:none;    
}
.question.active{
    font-weight: bold;
}
.question.active + .answer{
    display:block;
}
.question.active i{
    transform:rotate(180deg) translateY(calc(50% - 4px)) ;   
    color:#2c2c2c;
}
.portfolio-slides {
    width: 750px;
    margin:0 auto;
    position: relative;
}
.portfolio-slides li{
    text-align: center;
}
.portfolio-slides .prev{
    left:-180px;
}
.portfolio-slides .next{
    right:-180px;
}
.portfolio-slides li p{
    margin:27px 0;
}
#btt{
    width: 40px;
    height: 40px;
    background: rgba(0,0,0,.8);
    color: #fff;
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
#btt.active{
    opacity: 1;
    visibility: visible;
}

.testimonial {
    overflow: hidden; 
    position: relative; 
}

.testimonial ul {
    position: relative; 
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    transition: left 0.5s ease-out; 
}

.testimonial ul li {
    display: inline-block;
    width: 100%;
    white-space: normal;
}

.testimonial .controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 10;
}

.testimonial .controls span {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    border-radius: 50%;
}